In [1]:
# Define A List DS
lst =[]
print(type(lst))

<class 'list'>

In [2]:
names =["Shreyash", "Ankush", "Rohit", "Sanket",1,2,3,4,5]
print(names)

['Shreyash', 'Ankush', 'Rohit', 'Sanket', 1, 2, 3, 4, 5]

In [4]:
mixed_list=[1, "hello" , 3.14, True, [1,2,3]]
print(mixed_list)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [5]:
# Accessing List Elements
Bikes = ["KTM", "Bajaj", "Honda", "Yamaha", "TVS"]

In [6]:
print(Bikes[0])
print(Bikes[3])
print(Bikes[-1])
print(Bikes[-2])

KTM
Yamaha
TVS
Yamaha

In [7]:
print(Bikes[1:])
print(Bikes[1:3])
print(Bikes[1:])

['Bajaj', 'Honda', 'Yamaha', 'TVS']
['Bajaj', 'Honda']
['Bajaj', 'Honda', 'Yamaha', 'TVS']

In [16]:
print(Bikes[-1:])
print(Bikes[1:])
print(Bikes[-1: 2])
print(Bikes[-1:-3])
print(Bikes[1:-2])
print(Bikes[:-2])

['TVS']
['Bajaj', 'Honda', 'Yamaha', 'TVS']
[]
[]
['Bajaj', 'Honda']
['KTM', 'Bajaj', 'Honda']

In [17]:
## Modifying the List Elements
Bikes[2]="Royal Enfield"

In [18]:
Bikes

['KTM', 'Bajaj', 'Royal Enfield', 'Yamaha', 'TVS']

In [20]:
Bikes[1:]="Royal Enfield"
Bikes

['KTM', 'R', 'o', 'y', 'a', 'l', ' ', 'E', 'n', 'f', 'i', 'e', 'l', 'd']

In [34]:
Bikes = ["KTM", "Bajaj", "Honda", "Yamaha", "TVS"]

In [35]:
#List Methods

#Adding Elements to a List

Bikes.append("Suzuki") #Adds an element to the end of the list
Bikes

['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS', 'Suzuki']

In [36]:
 #Adding a element at a particular index in  a List
 Bikes.insert(4, "BMW")
 Bikes

['KTM', 'Bajaj', 'Honda', 'Yamaha', 'BMW', 'TVS', 'Suzuki']

In [37]:
#Removing An element from A List
Bikes.remove("Yamaha") # when there are 2 instances of an element it removes the first Occurance of that element
Bikes

['KTM', 'Bajaj', 'Honda', 'BMW', 'TVS', 'Suzuki']

In [38]:
bikes_popped = Bikes.pop() #pops the last element from the lists 
print(bikes_popped)
print(Bikes)

Suzuki
['KTM', 'Bajaj', 'Honda', 'BMW', 'TVS']

In [39]:
index = Bikes.index("Honda")
print(index)

2

In [40]:
Bikes.insert(2, "Bajaj") 
print(Bikes.count("Bajaj"))

2

In [41]:
Bikes

['KTM', 'Bajaj', 'Bajaj', 'Honda', 'BMW', 'TVS']

In [42]:
Bikes.sort() #Sort the elements in ascending order
Bikes

['BMW', 'Bajaj', 'Bajaj', 'Honda', 'KTM', 'TVS']

In [43]:
Bikes.reverse() # reverse the elements in the list 
Bikes

['TVS', 'KTM', 'Honda', 'Bajaj', 'Bajaj', 'BMW']

In [44]:
Bikes.clear() #Clears the Complete Lists
Bikes

[]

In [ ]:
## Slicing List 
num =[1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-2]) #The number after the Double Colon represents the stepsize of elements to be jump

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [63]:
Bikes = ["KTM", "Bajaj", "Honda", "Yamaha", "TVS"]

In [54]:
## Iterating Over the Lists 
for num in Bikes:
    print(Bikes)

['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']

In [55]:
for Bikes in Bikes:
    print(Bikes)

KTM
Bajaj
Honda
Yamaha
TVS

In [64]:
#Iterating with index
for index, number in enumerate(Bikes):
    print(index ,Bikes)

0 ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
1 ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
2 ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
3 ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
4 ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']

In [65]:
for index in enumerate(Bikes):
    print(index ,Bikes)

(0, 'KTM') ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
(1, 'Bajaj') ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
(2, 'Honda') ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
(3, 'Yamaha') ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']
(4, 'TVS') ['KTM', 'Bajaj', 'Honda', 'Yamaha', 'TVS']

In [68]:
for index, Bikes in enumerate(Bikes):
    print(index ,Bikes)

0 KTM
1 Bajaj
2 Honda
3 Yamaha
4 TVS

In [69]:
for index, number in enumerate(number):
    print(index ,Bikes)

0 TVS
1 TVS
2 TVS

In [70]:
Bikes

'TVS'

In [71]:
for index, Bikes in enumerate(Bikes):
    print(index ,Bikes)

0 T
1 V
2 S

In [74]:
num =[1,2,3,4,5,6,7,8,9,10]

In [75]:
for index, num in enumerate(num):
    print(index , num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [73]:
num

'S'

In [76]:
#List Comprehensions
lst = []
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### List Comprehension

1) Basic Syntax ->                [expression for item in iterable]
2) with conditional logic  ->     [expression for item in iterable if condition]
3) Nested List Comprehension ->   [expression for item1 in iterable1 for item2 in iterable2]

In [78]:
## Basic List Comphrehension

square = [num**2 for num in range (10)]

In [79]:
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
# List Compherension with condition 
lst=[]
for i in range (10):
    if i%2 == 0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [83]:
even_n = [num for num in range (10) if num%2==0]

In [85]:
print(even_n)
print(type(even_n))

[0, 2, 4, 6, 8]
<class 'list'>

In [88]:
#Nested List Comprehension
num1 = [1,2,3,4]
num2 = ['a', 'b','c', 'd']

pair  = [[i,j] for i in num1 for j in num2]

print(pair )

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [89]:
##List Comprehensionwith function calls 
words = ['hello', 'world', 'python', 'is', 'awesome']
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 2, 7]

### Conclusion 

List comprehension are powerful and concise way to create a list in python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehension will help you write cleaner and more efficient pyhton code.

# Real-World Examples using Lists in pyhton

### Example 1: Manage a to-do-list of tasks 


<b> $ Create a To-Do-List to keet track of task <b>

In [4]:
to_do_list = ["Buy Groceries","Clean the house","Pay Bills"]

##Adding more tasks
to_do_list.append("Schedule a meeting")
to_do_list.append("Go to GYM")

##Removing a Complete task
to_do_list.remove("Clean the house")

## Checking if task is in the list
if "Pay Bills" in to_do_list:
     print("Don't forget to pay bills today!")

##Printing all tasks
print("Remaining Tasks on Your To-Do List: ")
for task in to_do_list:
    print(f" -{task}")

Don't forget to pay bills today!
Remaining Tasks on Your To-Do List:
 -Buy Groceries
 -Pay Bills
 -Schedule a meeting
 -Go to GYM

# Example 2: Organizing Student Grades 

<b>$ Create a list to store and calculate the avg grades of students.<b>

In [5]:
# Organizing Student Grades
student_grades = [85, 92, 78, 90, 88]

# Adding a new grade
student_grades.append(95)

# Calculating the average grade
average_grade = sum(student_grades) / len(student_grades)
print(f"Average Grade: {average_grade}")

#Finding the highest and lowest grades
highest_grade = max(student_grades) 
lowest_grade = min(student_grades)
print(f"Highest Grade: {highest_grade}")
print(f"Lowest Grade: {lowest_grade}")

Average Grade: 88.0
Highest Grade: 95
Lowest Grade: 78

# Example 3: Managing An Inventory 

<b>$ Use a list to manage inventory items in a store <b>

In [8]:
# Managing An Inventory
inventory = ["Ducati", "BMW", "KTM", "Honda", "Yamaha"]
print("Inventory List: ")
for item in inventory:
    print(f" - {item}")

# Adding new items to the inventory
inventory.append("Suzuki")
inventory.append("Harley-Davidson")

# Removing an item from the inventory
inventory.remove("Honda")

#Checking if an item is in stock
item = "KTM"
if item in inventory:
    print(f"{item} is in stock.")
else:
    print(f"{item} is out stock.")

#Printing the Inventory after updates 
print("Inventory List after Ops: ")
for item in inventory:
    print(f" - {item}")

Inventory List:
 - Ducati
 - BMW
 - KTM
 - Honda
 - Yamaha
KTM is in stock.
Inventory List after Ops:
 - Ducati
 - BMW
 - KTM
 - Yamaha
 - Suzuki
 - Harley-Davidson

# Example 4: Collecting the User 

<b>$ Use a list to collect and analyse user feedback <b>

In [10]:
# Collecting User Feedback
user_feedback = ["Great service!", "Could improve delivery time.", "Excellent product quality.", "Average experience overall.", "Will shop again!"]

#Adding new feedback
user_feedback.append("Customer support was very helpful.")

# Counting specific feedback
positive_feedback_count = sum(1 for feedback in user_feedback if "Great" in feedback.lower() or "Excellent" in feedback.lower() or "again" in feedback.lower() or "helpful" in feedback.lower())
print(f"Number of Positive Feedbacks: {positive_feedback_count}")

#Printing all feedback
print("User Feedbacks: ")
for feedback in user_feedback:
    print(f" - {feedback}")

Number of Positive Feedbacks: 2
User Feedbacks:
 - Great service!
 - Could improve delivery time.
 - Excellent product quality.
 - Average experience overall.
 - Will shop again!
 - Customer support was very helpful.