## Introduction to Tuples

Explaination:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## Creating a tuple 

empty_tuple = ()
print(empty_tuple) 
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst =list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
num = tuple([1,2,3,4,5])
num

(1, 2, 3, 4, 5)

In [5]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [8]:
mixed_tuple = (1, "Hello",3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [9]:
# Accessing Tuple Elements
num

(1, 2, 3, 4, 5)

In [10]:
print(num[0])
print(num[2])
print(num[-1])

1
3
5

In [12]:
print(num[1:])
print(num[1:4])
print(num[:5])
print(num[::])
print(num[::2])
print(num[::-1])

(2, 3, 4, 5)
(2, 3, 4)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 3, 5)
(5, 4, 3, 2, 1)

In [14]:
##Tuple Operation
con_tuple = num + mixed_tuple
print(con_tuple)

(1, 2, 3, 4, 5, 1, 'Hello', 3.14, True)

In [15]:
mixed_tuple * 3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [17]:
print(mixed_tuple.count(3.14))
mixed_tuple

1

(1, 'Hello', 3.14, True)

In [19]:
##Imtuable nature of tuples
#Tuples are Immutable , Meaning their elements cannot be changed once assigned

num[1]= "Hello"

TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment
# As Tuples are Immutable

In [23]:
#tuple Method 
print(num)
print(num.count(2))

(1, 2, 3, 4, 5)
1

In [21]:
print(num.index(2))

1

In [24]:
## Packing and Unpacking of Tuples
#Packing
pack_tuple = 1, "Hello", 3.14, False
print(pack_tuple)
print(type(pack_tuple))

(1, 'Hello', 3.14, False)
<class 'tuple'>

In [26]:
#unpacking
a,b,c,d = pack_tuple

print(a)
print(b)
print(c)
print(d)

1
Hello
3.14
False

In [27]:
##Unpacking Using *
print(num)
first, *middle,last=num
print(first)
print(middle)
print(last)

(1, 2, 3, 4, 5)
1
[2, 3, 4]
5

In [28]:
## Nested List 
lst = [[1,2,3,4,5],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst)

[[1, 2, 3, 4, 5], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]

In [ ]:
## Acccesing a nested list element
print(lst[0],lst[0][2])

[1, 2, 3, 4, 5] 3

In [35]:
## Slicing In Nested List 
print(lst[2][0:3])

[1, 'Hello', 3.14]

In [36]:
## Nested Tuple
nested_tuple = (1, 2, (3,4), (5,6,(7,8)))
print(nested_tuple)

## Acessing Nested Tuple Elements
print(nested_tuple[2])

(1, 2, (3, 4), (5, 6, (7, 8)))
(3, 4)

In [39]:
print(nested_tuple[2][1])

4

In [42]:
nested_tuple = ( (3,4), (5,6,(7,8)))
print(nested_tuple)

((3, 4), (5, 6, (7, 8)))

In [43]:
## iterating over Tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

3 4
5 6 (7, 8)

## Conclusion 

Tuples are versatile and useful in many real-world scenarios where an immutable and orderd collection of items is required. They are commanly used in DS, function arguments and return values, and as dictionary keys. Understanding how to levearage tuples effectively can improve the efficiency and readability of your python code.